.container {
  max-width: 1420px;
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 0;
  padding-right: 20px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0 24px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    padding: 0 14px;
  }
}

.container--inner {
  max-width: 1170px;

  @media (max-width: $tablet-width) {
    max-width: 718px;
  }
}
