/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-main: #00b2ff;
$color-text: #666666;
$color-snow: #fafafa;
$bg-header-color: #1b2d37;
$light-blue: #1abaff;
$light-grey: #ebebeb;
$bg-header-color-opacity: ($bg-header-color, 0.5);
$white-opacity: rgba($color-white, 0.6);
$error-color: #ff5656;


/* Viewports */
$mobile-width: 767px;
$tablet-width: 1023px;

/* Fonts */
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-pt: "PT Mono", "Arial", sans-serif;
