/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-main: #00b2ff;
$color-text: #666666;
$bg-header-color: #1b2d37;


/* Viewports */
$mobile-width: 767px;
$tablet-width: 1023px;

/* Fonts */
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-pt: "PT Mono", "Arial", sans-serif;
